@page

<div >
<h1>aspnetcore-httpbin: HTTP Request &amp; Response Service</h1>
</div>
<h2>ENDPOINTS:</h2>
<ul>
    <li><a href="/" data-bare-link="true"><code>/</code></a> This page.</li>
    <li><a href="/ip" data-bare-link="true"><code>/ip</code></a> Returns Origin IP.</li>
</ul>